body {
    padding: 10px;
    background-color: gray;
}


#main {
    background-image: linear-gradient(to bottom, black, white);
    position: relative;
    width: 276px;
    height: 386px;
    border-radius: 30px;
    margin-top: 100px;
}

#main #acco {
    position: absolute;
    background-color: transparent;
    width: 185px;
    height: 200px;
    top: 19px;
    left: 45px;
}

#nick {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon {
    position: absolute;
    background-color: transparent;
    width: 276px;
    height: 144px;
    top: 242px;
    left: 0px;
}

hr {
    position: absolute;
    width: 251px;
    left: 12px;
    top: 80px;
    background-color: black;
    color: black;
    border: 10px solid black;
    border-radius: 20px;
}

#discord, #tryhacke {
    cursor: pointer;
    transition: all 300ms;
}

#discord:hover , #tryhacke:hover {
    transform: scale(1.1);
}
